#body {
  background-image: linear-gradient(60deg, black 10%, #22313fcc 70%),
    url(bg.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h3 {
  font-weight: 300;
}

.jumbotron {
  background-color: #e9ecefbd;
}

code {
  color: #04897c;
}

.table td,
.table th {
  padding: 0.1em;
}

.control-bit {
  font-weight: 700;
  display: inline-block;
  color: red;
  font-size: 38px;
  border: 2px solid red;
  padding: 0px 2px 0px 2px;
  margin: 2px;
}